services:
  redpanda:
    build: .
    image: siscom-redpanda:latest
    container_name: redpanda-0
    stdin_open: true
    tty: true
    volumes:
      - redpanda_data:/var/lib/redpanda
    env_file: .env
    ports:
      - "${KAFKA_EXTERNAL_PORT:-9092}:9092"
      - "9644:9644"
    networks:
      - siscom-network

networks:
  siscom-network:
    external: true

volumes:
  redpanda_data:
    external: true
